.scene1{
    -fx-background-image: url("MainBG.jpg");
 
    -fx-background-size: 1280 720;
    
    

}

.selectbutton{
    -fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
}
.menu{
	
	-fx-background-radius: 0px;
	-fx-background-color:grey;
  	-fx-text-fill:#fff;
}
.menu:hover{
	-fx-background-radius: 0px;
	-fx-background-color:#fff;
  	-fx-text-fill:grey;
}
.background{
	-fx-background-color:grey;
}
.timefield{
	-fx-border-width: 2px;
    -fx-border-color: #330018;
}
.whiteborder{
	-fx-border-width: 2px;
    -fx-border-color: #f8f8ff;}
    
.greenbutton{
	-fx-background-color: #00ff00;}
	
.orangebutton{
	-fx-background-color: #ff8800	;}
	
.greybutton{
	-fx-background-color: #888888;}
.darkgreybutton{
	-fx-background-color: #404040;}
.logegreenbutton{
	-fx-background-color: #00ff00;}
